/*  ПРОСТО СТИЛИ  */

.download-button {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  color: #333;
  padding: 3px 8px;
  left: 3px;
  top: 3px;
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.41;
}
.download-button:hover {
  opacity: 1;
}